.main {
  background-color: #2C2520;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* BUTTONS */

li .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li .button {
  background-color: #ED734B;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  width: 50%;
  text-align: center;
}

li .button:hover {
  background: linear-gradient(to right, #ED734B, #9BDB8E);
  color: black;
}

li .hostel-name {
  font-size: 25px;
  margin: 10px;
}

.user-info {
  h1 {
    color: #FFFFFF;
  }
}

.form {
  padding: 20px;
  width: 25%;
  background-color: #E6CFAD;
  position: absolute;
  top: 200px;
  right: 100px;
  display: none;

  .submit-btn {
    border: 1px solid #2C2520;
    background-color: #ED734B;
    padding: 5px;
    width: 100%;
  }
}

.user-listings {

  h3 {
    color: #FFFFFF;
    margin: 20px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E6CFAD;
    margin: 10px;
    color-scheme: black;
    width: 200px;
    height: 200px;
    justify-content: space-between;
  }

  li .listed-hostels-info {
    display: flex;
    flex-direction: column;
  }

  li .listed-hostels-info p {
    margin: 10px;
    opacity: 0.7;
  }
}


.reservations {
  height: 200px;

  h3 {
    color: #FFFFFF;
    margin: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E6CFAD;
    width: 200px;
    height: 200px;
    margin: 10px;
  }


}
