<%# <div class="container" data-controller="filter">
  <div class="amenities-filter" >
    <button class="btn" data-action="click->filter#filter" >WiFi</button>
    <button class="btn" data-action="click->filter#filter" >Security Lockers</button>
    <button class="btn" data-action="click->filter#filter" >Hot Showers</button>
    <button class="btn" data-action="click->filter#filter" >Key Card Access</button>
    <button class="btn" data-action="click->filter#filter" >24 Hour Reception</button>
    <button class="btn" data-action="click->filter#filter" >Luggage Storage</button>
    <button class="btn" data-action="click->filter#filter" >Breakfast Included</button>
    <button class="btn" data-action="click->filter#filter" >Linen Included</button>
    <button class="btn" data-action="click->filter#filter" >Towels for Hire</button>
    <button class="btn" data-action="click->filter#filter" >Bar</button>
  </div>
</div> %>
<div class="hostels-container" data-filter-url-value="<%= hostels_path %>">
  <%= render "hostels/hostels", hostels: @hostels %>
</div>
<div class="cities">
  <div class="city">
    <img src="https://i.natgeofe.com/n/6fe32bbb-d989-4ff2-942c-a81ba0734680/bc0039_190107_04085-edit-edit_3x2.jpg" alt="cape town">
    <div class='text'>
      <a href="/?query=Cape+Town&button="><h3>cape town</h3></a>
    </div>
  </div>
  <div class="city">
    <img src="https://static.nationalgeographic.co.uk/files/styles/image_3200/public/vietnam_GettyImages-878931880_HR_WEB.jpg?w=1600&h=900" alt="hanoi">
    <div class="text">
      <a href="/?query=Hanoi&button="><h3>hanoi</h3></a>
    </div>
  </div>
  <div class="city">
    <img src="https://media.vogue.mx/photos/5e19fa7ba3810f0008d96d3e/3:2/w_3240,h_2160,c_limit/Lima-%20La%20Costa%20Verde.jpg" alt="lima">
    <div class="text">
      <a href="/?query=Lima&button="><h3>lima</h3></a>
    </div>
  </div>
  <div class="city">
    <img src="https://www.travelandleisure.com/thmb/LzWpzDihxjffaFmM9TZWCvm9VyY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/lisbon-portugal-LISBONTG0521-c933a0fb669647619fa580f6c602c4c8.jpg" alt="lisbon">
    <div class="text">
      <a href="/?query=Lisbon&button="><h3>lisbon</h3></a>
    </div>
  </div>
</div>
