<ul>
  <% @hostels.each do |hostel| %>
    <li>
      <%= link_to "#{hostel.name}", hostel_path(hostel) %>
      <%= hostel.city %>
      <%= hostel.address %>
      <%= hostel.description %>
    </li>
  <% end %>
</ul>
