<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <% @hostels.each do |hostel| %>
    <li>
      <%= link_to "#{hostel.name}", hostel_path(hostel) %>
      <%= hostel.city %>
      <%= hostel.address %>
      <%= hostel.description %>
    </li>
  <% end %>
</ul>
