
<div class="hostels-container">

  <% @hostels.each do |hostel| %>
    <div class="hostel-container">
      <div class="image-container"></div>
      <%= link_to "#{hostel.name}", hostel_path(hostel), class:"hostel-name" %> <br>
      <%= hostel.city %>
      <%# <%= hostel.address %>
      <%# <%= hostel.description %>
    </li>
    </div>
  <% end %>

</div>
